/* ===== Awal Navbar ===== */
.navbar {
  box-shadow: 0px 0px 10px grey;
}
#Header .btn-login {
  background-color: #fcb82e;
  color: #fff;
  font-weight: bold;
  justify-content: right;
}
#Header .btn-login:hover {
  background-color: #07b0c8;
}
#Header .btn-qurban,
#Data-Anak .btn-dtanak {
  background-color: #07b0c8;
  color: #fff;
  font-weight: bold;
  justify-content: right;
}
#Header .btn-qurban:hover,
#Data-Anak .btn-dtanak:hover {
  background-color: #fcb82e;
  color: #fff;
}
#Header .navbar ul li a {
  color: #07b0c8;
  font-weight: bold;
}
#Header .navbar ul li a:hover {
  /* color: #fcb82e; */
  border-bottom: 5px solid #07b0c8;
}
/* ===== Akhir Navbar ===== */

/* ===== Awal Banner ====== */
#Banner .Gambar-Banner img {
  margin-top: 8px;
  width: 100%;
  height: 400px;
  object-fit: cover;
}
/* ===== Akhir Banner ===== */

/* ===== Awal Alasan ===== */
#Alasan .bg-judul,
#Pilihan-Paket .bg-judul,
#Fiqih-Aqiqah .bg-judul,
#Pilihan-Menu .bg-judul,
#Data-Anak .bg-judul {
  background-color: #07b0c8;
}
#Alasan .Judul h2,
#Pilihan-Paket .Judul h2,
#Fiqih-Aqiqah .Judul h2 {
  color: #fff;
  font-weight: bold;
  text-align: center;
}
#Alasan .bg-isi {
  background-color: #fff2d9;
  border-radius: 15px;
}
#Alasan .isi h5 {
  color: #717171;
  font: 18px/22px poppins;
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
}
#Alasan .isi p {
  padding: 10px 30px;
  text-align: justify;
}
/* ===== Akhir Alasan ===== */

/* ===== Awal Pilihan Paket ===== */
#Pilihan-Paket .image img,
#Detail-Produk .image img {
  width: 100%;
  height: 450px;
  object-fit: cover;
}
#Pilihan-Paket .image img:hover {
  width: 100%;
  height: 450px;
  opacity: 0.5;
}
#Pilihan-Paket .btn-pesan,
#Data-Anak .btn-kembali {
  background-color: #fcb82e;
  font-weight: bold;
  color: #fff;
}
#Pilihan-Paket .btn-pesan:hover,
#Data-Anak .btn-kembali:hover {
  background-color: #07b0c8;
  font-weight: bold;
  color: #fff;
}
/* ===== Akhir Pilihan Paket ===== */

/* ====== Awal Pesan Sekarang ===== */
#Pesan-Sekarang .container {
  box-shadow: 0px 0px 5px grey;
  border-radius: 20px;
}
#Pesan-Sekarang .headname h6 {
  margin-top: 20px;
  color: #717171;
  font-family: poppins;
  font-weight: bold;
}
#Pesan-Sekarang .radio input {
  margin-top: 130px;
  margin-left: 10px;
}
#Pesan-Sekarang .image img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 20px;
}
#Pesan-Sekarang .nama-paket h5,
#Pesan-Sekarang .harga-paket h5 {
  font-weight: bold;
  font-family: poppins;
  margin-top: 130px;
}
#Pesan-Sekarang .trash a i {
  font-size: 40px;
  text-decoration: none;
  color: rgb(188, 34, 34);
  margin-top: 115px;
}
/* ====== Akhir Pesan Sekarang ===== */

/* ===== Awal Fiqih Aqiqah ===== */
#Fiqih-Aqiqah .bg-isi {
  background-color: #fff2d9;
  border-radius: 15px;
  width: 100%;
  height: 285px;
}
#Fiqih-Aqiqah .isi h5 {
  color: #717171;
  font: 18px/22px poppins;
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
}
#Fiqih-Aqiqah .isi p,
#Fiqih-Aqiqah .isi li {
  padding: 10px 30px;
  text-align: justify;
}
/* ===== Akhir Fiqih Aqiqah ===== */

/* ===== Awal Label ===== */
#Label .breadcrumb a,
#Label .breadcrumb li {
  font-size: 16px;
  color: #07b0c8;
  text-decoration: none;
}
#Label .breadcrumb a:hover {
  color: #fcb82e;
}
/* ===== Akhir Label ===== */

/* ===== Awal Paket Aqiqah ===== */
#Paket-Aqiqah .image,
#Paket-Nasi .image {
  background-color: #fff;
  box-shadow: 0px 0px 3px #07b0c8;
}
#Paket-Aqiqah .Judul h4,
#Paket-Aqiqah .image h4,
#Paket-Nasi .Judul h4,
#Paket-Nasi .image h4,
#Detail-Produk .deskripsi h4 {
  font-weight: semi-bold;
  font-family: poppins;
  color: #717171;
}
#Paket-Aqiqah .image h5,
#Paket-Nasi .image h5,
#Detail-Produk .deskripsi h5 {
  font-weight: semi-bold;
  color: #717171;
  margin-top: -10px;
}
#Paket-Aqiqah .btn-detail,
#Paket-Nasi .btn-detail {
  border: 2px solid #07b0c8;
  color: #07b0c8;
  font-weight: bold;
}
#Paket-Aqiqah .btn-detail:hover,
#Paket-Nasi .btn-detail:hover {
  border: 2px solid #fcb82e;
  color: #717171;
  font-weight: bold;
}
/* ===== Akhir Paket Aqiqah ===== */

/* ===== Awal Detail-Produk ===== */
#Detail-Produk .btn-pesan,
#Detail-Pesanan .btn-bayar,
#Order .btn-pesan {
  background-color: #07b0c8;
  font-weight: bold;
  color: #fff;
}
#Detail-Produk .btn-pesan:hover,
#Detail-Pesanan .btn-bayar:hover,
#Order .btn-pesan:hover {
  background-color: #fcb82e;
  font-weight: bold;
  color: #fff;
}
#Detail-Produk .btn-batal,
#Data-Anak .btn-kirim {
  border: 2px solid #07b0c8;
  font-weight: bold;
  color: #07b0c8;
  width: 100px;
}
#Detail-Produk .btn-batal:hover,
#Data-Anak .btn-kirim:hover {
  border: 2px solid #fcb82e;
  font-weight: bold;
  color: #fcb82e;
}
/* ===== Akhir Detail-Produk ===== */

/* ===== Awal Detail Produk ===== */
#Pilihan-Menu .Judul h2 {
  color: #fff;
  font-weight: bold;
}
#Pilihan-Menu .menu h6,
#Pembayaran .transaksi h6 {
  font-weight: bold;
  font-family: poppins;
  color: #717171;
}
#Pilihan-Menu .menu ol {
  margin-left: -15px;
  font-family: poppins;
}
#Pilihan-Menu .radio {
  margin-top: 30px;
}
/* ===== Akhir Detail Produk ===== */

/* ===== Awal Pemesanan ===== */
#Pemesanan .bg-judul,
#Pengiriman .bg-judul,
#Data-Anak .bg-judul,
#Pembayaran .bg-judul,
#Detail-Pesanan .bg-judul {
  background-color: #07b0c8;
  border-radius: 5px;
}
#Pemesanan .bg-judul h2,
#Pengiriman .bg-judul h2,
#Data-Anak .bg-judul h2,
#Data-Anak .bg-judul h4,
#Pembayaran .bg-judul h2,
#Detail-Pesanan .bg-judul h2 {
  color: #fff;
}
#Pemesanan label,
#Pengiriman label,
#Data-Anak label {
  font-weight: bold;
}
#Pemesanan input,
#Pengiriman input,
#Pengiriman select,
#Data-Anak input {
  border: 2px solid #07b0c8;
}
/* ===== Akhir Pemesanan ===== */

/* ===== Awal Pembayaran ===== */
#Pembayaran .transaksi ul {
  list-style: none;
  margin-left: -30px;
}
#Pembayaran .transaksi li {
  font-weight: bold;
}
#Pembayaran .transaksi span {
  font-weight: normal;
}
/* ===== Akhir Pembayaran ===== */

/* ===== Awal Detail Pemesanan */
#Detail-Pesanan .bg-transaksi {
  box-shadow: 0px 0px 5px gray;
  border-radius: 10px;
}
#Detail-Pesanan .transaksi h5 {
  font-weight: bold;
  color: #717171;
}
/* ===== Akhir Detail Pemesanan */

/* ===== Awal Order ===== */
#Order .bg-container {
  box-shadow: 0px 0px 5px gray;
  border-radius: 10px;
}
#Order .transaksi h5 {
  color: #717171;
}
/* ===== Akhir Order ===== */

/* ===== Awal Artikel ===== */
#Artikel .artikel {
  border: 2px solid #07b0c8;
}
#Artikel .artikel img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}
#Artikel .artikel:hover {
  opacity: 0.8;
}
#Artikel .isi a {
  text-decoration: none;
  color: #717171;
  text-align: justify;
}
/* ===== Akhir Artikel ===== */

/* Awal Login */
#Login .bg-login {
  background-color: #07b0c8;
  width: 100%;
  height: 650px;
  margin-top: 50px;
  border-radius: 30px;
  box-shadow: 0px 0px 25px grey;
}
#Login .bg-login h3,
#Register .bg-register h3 {
  font-weight: bold;
  color: #fff;
  text-align: center;
  margin-top: 100px;
}
#Login form,
#Register form {
  margin-top: 70px;
}
#Login label,
#Register label {
  color: #fff;
}
#Login .btn-login,
#Register .btn-daftar {
  margin-left: 145px;
  background-color: #fcb82e;
  color: #fff;
  margin-top: 40px;
}
#Login .btn-login:hover,
#Register .btn-daftar:hover {
  margin-left: 145px;
  background-color: #fff;
  color: #07b0c8;
  margin-top: 40px;
}
#Login a,
#Register a {
  text-decoration: none;
  color: #1004f9;
}
#Login a:hover,
#Register a:hover {
  text-decoration: none;
  color: white;
}

/* Akhir Login */

/* Awal Register */
#Register .bg-register {
  background-color: #07b0c8;
  width: 100%;
  height: 1400px;
  margin-top: 50px;
  border-radius: 30px;
  box-shadow: 0px 0px 25px grey;
  margin-bottom: 100px;
}
/* Akhir Register */

/* ===== Awal Footer ===== */
#Footer {
  box-shadow: 1px 1px 10px grey;
}
#Footer .logo img,
#Footer .peta iframe {
  margin-top: 40px;
}
#Footer .logo p,
#Footer .kontak p {
  margin-top: 20px;
  color: #717171;
  font-family: poppins;
}
#Footer .tentangkami h6,
#Footer .kontak h6 {
  margin-top: 50px;
  font-weight: bold;
  color: #717171;
}
#Footer .tentangkami a {
  text-decoration: none;
  color: #717171;
  font-family: poppins;
}
#Footer .tentangkami a:hover {
  text-decoration: none;
  color: #07b0c8;
  font-family: poppins;
}
#Footer .tentangkami ul {
  list-style: none;
  margin-left: -30px;
  color: #717171;
  margin-top: 25px;
}
/* ===== Akhir Footer ===== */
